# Created by .ignore support plugin (hsz.mobi)
bin/
include/
lib/
lib64/
pyvenv.cfg
pip-selfcheck.json
test.html
.idea/
__pycache__/
.gitignore
.idea/
lyft/__pycache__/
lyft/authentication/__pycache__/
yft/util/__pycache__/
update_fork.sh